project_id = "lrhbnmyeqnopxosemjcr"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.n8n-webhook]
verify_jwt = false

[functions.ai-task-generator]
verify_jwt = false

[functions.execute-workflow]
verify_jwt = true

[functions.persona-chat]
verify_jwt = false
